<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>新規登録</h2>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

         <div class="field m-4">
          <%= f.label :"名前" %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field m-4">
          <%= f.label :"メールアドレス(@は必要です)" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field m-4">
          <%= f.label :"都道府県（天気を教えてくれます）" %><br />
          <%= f.text_field :prefecture, autofocus: true, autocomplete: "prefecture", class: 'form-control' %>
        </div>

        <div class="field m-4">
          <%= f.label :"パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field m-4">
          <%= f.label :"確認用パスワード" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions m-4">
          <%= f.submit "登録する", class: 'btn btn-success' %>
        </div>
      <% end %>
      <div class="m-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
