<div class="container">
    <%= render 'layouts/errors', obj: @user %>
  <div class="row">
    <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "120x120", class: "rounded-circle m-4" %>

    <div class="col">
      <h5 class="m-5">プロフィールの編集</h5>
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
         <%= f.label :名前 %>
         <%= f.text_field :name, class: "form-control m-3" %>
        </div>
        <div class="form-group">
          <%= f.label :紹介文 %>
          <%= f.text_area :introduction, class: "form-control m-3" %>
        </div>
        <div class="form-group">
          <%= f.label :写真 %>
          <%= f.attachment_field :profile_image, class: "m-3" %>
        </div>
         <div class="form-group">
          <%= f.submit class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>




