<div class="container">
  <div class="row">
    <div class="col-4">
      <table class='table'>
        <tr><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "100x100", class: "rounded-circle" %></tr>
        <tr>
      	  <th>名前</th>
      	  <th><%= @user.name %></th>
        </tr>
        <tr>
      	  <th>follows</th>
      	  <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
        </tr>
        <tr>
      	  <th>followers</th>
      	  <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
        </tr>
        <tr>
        <tr>
      	  <th>紹介文</th>
      	  <th><%= @user.introduction %></th>
        </tr>
          <th class="follow"><%= render 'relationships/follow_button', user: @user %></th>
        </tr>
      </table>
    </div>

    <div class="col-8">
      <section>
        <h5>My Items</h5>
        <% @user.items.each do |item| %>
          <%= link_to item_path(item) do%>
            <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "150x150", class: "m-1 rounded-circle" %>
          <% end %>
        <% end %>
      </section>
    </div>
    </div>
  </div>
</div>

