<div class="container">
  <div class="row">
    <div class="col">
       <div class="row">
          <div class="col-2"><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "100x100", class: "rounded-circle" %></div>
          <div class="col-2 text-center">名前　:　<%= @user.name %></div>
          <div class="col-2 text-center">フォロー中　:　<%= link_to @user.followings.count, user_followings_path(@user) %></div>
          <div class="col-2 text-center">フォロワー　:　<%= link_to @user.followers.count, user_followers_path(@user) %></div>
          <div class="col-2 follow text-center"><%= render 'relationships/follow_button', user: @user %></div>
       </div>
       <div class="row m-4">
         紹介文　:　<%= @user.introduction %>
       </div>
        <div class="text-right"><%= link_to "コーディネート", coordinetes_path, class:"btn btn-primary m-5" %></div>

      <section>
        <h5>My Items</h5>
        <% @user.items.each do |item| %>
          <%= link_to item_path(item) do%>
            <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "150x150", class: "m-1 rounded-circle" %>
          <% end %>
        <% end %>
      </section>
    </div>
    </div>
  </div>
</div>

