<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-3">
          <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "120x120", class: "rounded-circle m-4" %>
        </div>
        <div class="col-8"><%= render 'layouts/weather_api'%></div>
        <div class="col-1">
          <div class="follow mt-5"><%= render 'relationships/follow_button', user: @user %></div>
        </div>
      </div>
       <div class="row m-4">
         <div class="col-5 textcenter">名前　:　<%= @user.name %></div>
         <div class="col-3 text-center">フォロー中　:　<%= link_to @user.followings.count, user_followings_path(@user) %></div>
         <div class="col-3 text-center">フォロワー　:　<%= link_to @user.followers.count, user_followers_path(@user), class: "follow-count" %></div>
       </div>
       <div class="row m-4">
         紹介文　:　<%= @user.introduction %>
       </div>
       <% if current_user == @user %>
        <div class="text-right"><%= link_to "コーディネート", coordinetes_path, class:"btn btn-info m-5" %></div>
       <% end%>

      <section>
        <h5>私のおすすめ服</h5>

        <% @items.each do |item| %>
          <%= link_to item_path(item) do%>
            <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "150x150", class: "m-1" %>
          <% end %>
        <% end %>
      </section>
    </div>
    </div>
  </div>
</div>

