<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="profile-container">
        <h3 class="profile-name"><%= @user.name %></h3>
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "100x100" %>
        <p><%= @user.introduction%></p>
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-secondary mt-3" %></p>
        <% end %>
        <%= render 'relationships/follow_button', user: @user %>
      </div>
    </div>

    <div class="col-9">
      <% @user.items.each do |item| %>
        <%= link_to item_path(item) do%>
          <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "150x150", class: "m-1" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

