<div class="text-center py-5">
  <h1 class="py-3">MyClosetとは<br>どんなアプリか？</h1>
  <p>クローゼットの中をスマホやパソコンで確認することができるアプリです。</p>
  <p>みんなのおすすめの服やお気にりの服を紹介しあうことができます。</p>
</div>

<div class="container">
  <div class="row my-5">
    <div class="card-deck">
      <div class="card">
        <%= image_tag 'top.jpg', :size => '340x200', class:"m-2"%>
        <div class="card-body">
          <h4 class="card-title text-center">できること</h4>
          <p class="card-text">
            <ul>
              <li>自分の服をコーディネートとして<br>保存ができる</li>
              <li>5日先までの天気を確認できる</li>
              <li>おすすめの服を教えてもらえる</li>
              <li>人気の服のランキング見れる</li>
            </ul>
          </p>
          <p class="card-text"><small class="text-muted">What you can do</small></p>
        </div>
      </div>

      <div class="card">
        <%= image_tag 'closet.jpg', :size => '340x200', class:"m-2"%>
        <div class="card-body">
          <h4 class="card-title text-center">利用するメリット</h4>
          <p class="card-text">
            <ul>
              <li>コーディネートを登録すると服選びに迷う時間がなくなる</li>
              <li>天気を見てコーディネートを選べる</li>
              <li>持っている服の確認ができる</li>
              <li>いいねやコメントをもらえて共感してもらえる</li>
            </ul>
          </p>
          <p class="card-text"><small class="text-muted">Benefits of using</small></p>
        </div>
      </div>

      <div class="card">
        <%= image_tag 'crip.jpg', :size => '340x200', class:"m-2"%>
        <div class="card-body">
          <h4 class="card-title text-center">苦労したポイント</h4>
          <p class="card-text">
            <ul>
              <li>コーディネート機能</li>
              <li>APIの管理方法</li>
              <li>cronの設定</li>
              <li>Rspec</li>
              <li>AWS Route 53のDNS設定</li>
              <li>常時SSL化</li>
              <li>非同期通信</li>
            </ul>
          <p class="card-text"><small class="text-muted">Why created</small></p>
        </div>
      </div>
    </div>
  </div>
<%= render 'items/recommendations', recommendations: @recommendations %>
<%= render 'items/ranks', all_favorite_ranks: @all_favorite_ranks, all_comment_ranks: @all_comment_ranks, all_genre_ranks: @all_genre_ranks %>