<div class="text-center py-5">
  <h1 class="py-3">MyClosetとは<br>どんなアプリか？</h1>
  <p>クローゼットの中をスマホやパソコンで確認することができるアプリです。</p>
  <p>みんなのおすすめの服やお気にりの服を紹介しあうことができます。</p>
</div>

<div class="container">
  <div class="row my-5">
    <div class="card-deck">
      <div class="card">
        <%= image_tag 'top.jpg', :size => '340x200', class:"m-2"%>
        <div class="card-body">
          <h4 class="card-title text-center">できること</h4>
          <p class="card-text">
            <ul>
              <li>持っている服の可視化</li>
              <li>コーディネートの保存</li>
              <li>今日の天気を確認</li>
              <li>服の情報交換</li>
              <li>服のランキング見れる</li>
              <li>いいね・コメント</li>
            </ul>
          </p>
          <p class="card-text"><small class="text-muted">What you can do</small></p>
        </div>
      </div>

      <div class="card">
        <%= image_tag 'closet.jpg', :size => '340x200', class:"m-2"%>
        <div class="card-body">
          <h4 class="card-title text-center">工夫したところ</h4>
          <p class="card-text">
            <ul>
              <li>Rspec</li>
              <li>APIの用いた実装</li>
              <li>バッチ処理(cron)</li>
              <li>検索機能</li>
              <li>ランキング機能</li>
              <li>非同期通信</li>
            </ul>
          </p>
          <p class="card-text"><small class="text-muted">Benefits of using</small></p>
        </div>
      </div>

      <div class="card">
        <%= image_tag 'crip.jpg', :size => '340x200', class:"m-2"%>
        <div class="card-body">
          <h4 class="card-title text-center">苦労したポイント</h4>
          <p class="card-text">
            <ul>
              <li>コーディネート機能</li>
              <li>APIの管理方法</li>
              <li>cronの設定</li>
              <li>Rspec</li>
              <li>AWS Route 53のDNS設定</li>
              <li>常時SSL化</li>
              <li>非同期通信</li>
            </ul>
          <p class="card-text"><small class="text-muted">Why created</small></p>
        </div>
      </div>
    </div>
  </div>
<div class="text-center py-5">
  <p class="py-3"><%= link_to "実装に苦労した点", homes_about_path %></p>
</div>
<%= render 'items/recommendations', recommendations: @recommendations %>
<%= render 'items/ranks', all_favorite_ranks: @all_favorite_ranks, all_comment_ranks: @all_comment_ranks, all_genre_ranks: @all_genre_ranks %>