  <div class="container text-right m-3">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            コーディネートを追加
          </button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">コーディネート登録</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_with model: @coordinete, url:coordinetes_path(@coordinete), local:true do |f| %>
            <div class="modal-body">
              <div class="form-group">
               <%= f.label :アイテム① %>
               <%= f.collection_select 'item_ids[0]', Item.all, :id, :name %>
             </div>

             <div class="form-group">
               <%= f.label :アイテム② %>
               <%= f.collection_select 'item_ids[1]', Item.all, :id, :name %>
             </div>

             <div class="form-group">
               <%= f.label :アイテム③ %>
               <%= f.collection_select 'item_ids[2]', Item.all, :id, :name %>
             </div>

             <div class="form-group">
              <%= f.label :コーディネート名 %>
              <%= f.text_area :name, placeholder: "ここへ記入", class: "form-control-file" %>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "追加", class: 'btn btn-success'%>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>




<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
         <tr>
          <th>コーディネート名</th>
          <th>組み合わせ</th>
          <th colspan="3"></th>
         </tr>
        </thead>
        <tbody>
         <% @coordinetes.each do |coordinete| %>
          <tr>
            <td>
              <%= coordinete.name %>
            </td>
             <td>
              <% coordinete.coordinete_tables.each.with_index(1) do |coordinete_table, index| %>
                <%= "#{coordinete_table.item.name} #{'x' if index < coordinete.coordinete_tables.size}" %>
              <% end %>
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
