<% item.item_comments.order(created_at: :desc) .each do |item_comment| %>
 <table class="table">
   <tbody>
    <tr>
      <td>
        <%= link_to user_path(item_comment.item.user) do %>
          <%= attachment_image_tag item_comment.user, :profile_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "100x100",class: "m-2 rounded-circle" %>
        <% end %>
      </td>
      <td>
        <%= link_to user_path(item_comment.item.user) do%>
          <%= item_comment.user.name %>
        <% end %>
      </td>
      <td><%= item_comment.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= item_comment.comment %></td>
      <% if item_comment.user == current_user %>
        <td>
          <%= link_to "コメントを削除",  item_item_comment_path(item_comment.item, item_comment), class: "btn btn-secondary", method: :delete, remote: true  %>
        </td>
      <% end %>
    </tr>
   </tbody>
</table>
<% end %>