<%= form_with model: item, local:true do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <%= f.label :ジャンル %>
      </div>
      <div class="col">
        <%= f.collection_select :genre_id, Genre.all, :id, :name %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :アイテム %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :ブランド %>
    <%= f.text_area :shop_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :説明 %>
    <%= f.text_area :detail, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :写真 %>
    <%= f.attachment_field :image, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <div class="row m-3">
      <div class="col-6">
        <%= f.radio_button :private, false %><%= f.label :private, "非公開", class: "text-active" %>
      </div>
      <div class="col-6">
        <%= f.radio_button :private, true %><%= f.label :private, "公開", class: "text-invalid" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>