<div class="container">
  <div class="row">
    <p class="col-3">おすすめのアイテム</p>
      <% @recommendations.each do |recommendation| %>
        <div class="col-3">
          <%= link_to item_path(recommendation.item) do %>
            <%= recommendation.item.name %>
          <% end %>
        </div>
      <% end %>
  </div>


  <div class="row">
    <div class="col-4">
      <h4 class="m-3">いいね数ランキング</h4>
      <% if @all_favorite_ranks.count == 0 %>
        <p>ランキングがありません</p>
      <% else %>
        <% @all_favorite_ranks.each.with_index(1) do |item, i| %>
          <p class="m-4">第<%= i %>位  <%=link_to item_path(item) do %><%= item.name %><% end %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-4">
      <h4 class="m-3">コメントランキング</h4>
      <% if @all_comment_ranks.count == 0 %>
        <p>ランキングがありません</p>
      <% else %>
        <% @all_comment_ranks.each.with_index(1) do |item, i| %>
          <p class="m-4">第<%= i %>位  <%=link_to item_path(item) do %><%= item.name %><% end %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-4">
      <h4 class="m-3">ジャンルランキング</h4>
      <% if @all_genre_ranks.count == 0 %>
        <p>ランキングがありません</p>
      <% else %>
        <% @all_genre_ranks.each.with_index(1) do |item, i| %>
          <p class="m-4">第<%= i %>位 <%= item.genre.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
   <% @items.each do |item| %>
    <div class="col-4">
      <div class="card my-2" style="width: 22rem;">
         <%= attachment_image_tag item, :image, :fill, 100, 100, fallback: "no_image.jpg", class: "m-2" %>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <small class="text-muted"><%= item.genre.name %></small>
          <p class="card-text"><%= item.shop_name %></p>
          <p><%= link_to "詳細をみる", item_path(item.id), class: "btn btn-primary" %></p>
          <div class="row">
            <div class="col-6"><i class="far fa-comment-dots"></i><%= "#{item.item_comments.count}"%></div>
            <%= render 'items/favorites', item: item %>
          </div>
          <p>
            <%= link_to user_path(item.user) do %>
              Name"<%= item.user.name %>"
            <% end %>
          </p>
        </div>
      </div>
    </div>
   <% end %>
  </div>
  <div class="mx-auto"><%= paginate @items %></div>
</div>






