
<div class="container">
  <%= render 'layouts/weather_api'%>
  <%= render 'items/recommendations', recommendations: @recommendations %>
  <%= render 'items/ranks', all_favorite_ranks: @all_favorite_ranks, all_comment_ranks: @all_comment_ranks, all_genre_ranks: @all_genre_ranks %>
  <p>アイテム一覧</p>
  <div class="row">
   <% @items.each do |item| %>
    <div class="col-4 xs-12">
      <div class="card my-2" style="width: 22rem;">
         <%= attachment_image_tag item, :image, fallback: "no_image.jpg", :size => '335x335', class: "m-2" %>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <small class="text-muted"><%= item.genre.name %></small>
          <p class="card-text"><%= item.shop_name %></p>
          <p><%= link_to "詳細をみる", item_path(item.id), class: "btn btn-primary" %></p>
          <div class="row">
            <div class="col-6"><i class="far fa-comment-dots"></i><%= "#{item.item_comments.count}"%></div>
            <%= render 'items/favorites', item: item %>
          </div>
          <p>
            <%= link_to user_path(item.user) do %>
              Name"<%= item.user.name %>"
            <% end %>
          </p>
        </div>
      </div>
    </div>
   <% end %>
  </div>
  <div class="mx-auto"><%= paginate @items %></div>
</div>