<div class="container">
  <div class="row">
   <% @items.each do |item| %>
    <div class="col-4">
      <div class="card my-2" style="width: 18rem;">
         <%= attachment_image_tag item, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
       <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text">
            <%= item.name%><br >
            <%= item.shop_name %>
          </p>
          <p>
            <%= link_to "詳細をみる", item_path(item.id), class: "btn btn-primary" %>
          </p>
          <div class="row">
            <p class="col-6"><i class="far fa-comment-dots"></i><%= "#{item.item_comments.count}"%></p>
            <%= render 'items/favorites', item: item %>
          </div>
        </div>
      </div>
    </div>
   <% end %>
  </div>
</div>






