<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-6">
            <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "200x200" %>
            <p class="m-3">
              <%= form_with model:[@item, @item_comment] do |f| %>
                <%= f.text_area :comment, rows:'5',placeholder: "コメント記入" %><br >
                <%= f.submit "送信する" %>
              <% end %>
            </p>
          </div>
              <div class="card-body col-md-6">
                <h5 class="card-title">アイテムの詳細</h5>
                <p class="card-text">ジャンル名:<%= @item.genre.name %></p>
                <p class="card-text">商品名　　:<%= @item.name %></p>
                <p class="card-text">ブランド名:<%= @item.shop_name %></p>
                <p class="card-text">説明　　　:<%= @item.detail %></p>
                <p class="card-text">
                  <% if @item.private == false %>
                    <p class = "text-secondary">非公開</p>
                  <% else %>
                    <p class = "text-success">公開</p>
                  <% end %>
                </p>
                <div class="row">
                  <div class="col-6"><i class="far fa-comment-dots"></i>
                  <span class="comments-count" ><%= @item.item_comments.count%></span>
                </div>
                  <%= render 'items/favorites', item: @item %>
                </div>
                <% if @item.user == current_user %>
                  <%= link_to 'アイテムを編集', edit_item_path(@item), class: "btn btn-sm btn-success m-2" %><br >
                  <%= link_to "アイテムを削除", item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger m-2" %>
                <% end %>

              <p class="card-text"><small class="text-muted"><%= @item.created_at.strftime('%Y/%m/%d') %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
        <p>コメント一覧</p>
      <div class="comments">
          <%= render 'items/comment', item: @item, item_comment: @item_comment %>
      </div>
    </div>
  </div>
</div>


